.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
}
.header {
  color: white;
  background-color: #192a56;
  padding: 14px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

h1 {
  margin: 0;
}
.form {
  margin-top: 20px;
}
.data {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
}
.compa {
  background-color: aqua;
  padding: 5px;
  margin: 8px;
}
.compb {
  background-color: red;
  padding: 5px;
  margin: 8px;
}
.compc {
  background-color: pink;
  padding: 5px;
  margin: 8px;
}
